<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个指定的Dao/Mapper接口-->
<mapper namespace="com.qi.dao.UserMapper">

    <!--结果集映射-->
    <resultMap id="UserMap" type="User">
        <!--colunm 数据库中的字段，property实体中的属性-->
        <result column="pwd" property="password"></result>
    </resultMap>

    <!--根据ID查询-->
    <select id="getUserById" parameterType="int" resultType="User">
        select * from mybatis.users where id = #{id}
    </select>

    <!-- 分页-->
    <select id="getUserByLimit" parameterType="map" resultType="User" resultMap="UserMap">
        select * from mybatis.users limit #{startIndex}, #{pageSize}
    </select>
</mapper>